@using Westwind.Globalization
@{
    ViewBag.Title = DbRes.T("Admin.Index.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Admin.Index.PageTitle", "Resources")</h1>
</hgroup>

<section class="pagebody">
    <div id="monitors"></div>
    
    <a id="startindexrebuild" href="#">@DbRes.T("Admin.Index.RebuildIndexLink", "Resources")</a>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryindexrebuild")
}