@{
    Layout = null;
}

Content-Type: text/html; charset=utf-8
To: @ViewBag.To
From: no-reply@partechit.nl
Subject: Recover password

<html>
    <body>
        <p>Hello @ViewBag.UserName,</p>
        <p>
           To reset your password click on this link<br />
           <br />
           @Html.Raw(ViewBag.ResetLink)
        </p>
        <p>
            You will receive an email with the new password.
        </p>
    </body>

</html>