@using System.Globalization
@using Westwind.Globalization
@{
    ViewBag.Title = DbRes.T("Home.Index.MetaTitle", "Resources");
}

<h2>@DbRes.T("Home.Index.PageTitle", "Resources")</h2>

@CultureInfo.CurrentUICulture.Name.ToLower()